<html>

<head>
    <title>
        Hawaii Precipitation and Temperature API
    </title>
</head>


<body style="background-color:#a2bfc9" LINK="blue" VLINK="purple" ALINK="blue">
    <center>
        <p>
            <font size="10" color='magenta'>H A W A I I<br /></font>
            <font size="10" color='blue'> P R E C I P I T A T I O N</font>
            <font size="10" color='pink'>&<font>
                    <font size="10" color='blue'>T E M P E R A T U R E<br /></font>
                    <font size="10" color='magenta'> A P I<br /></font>
                    <img src="https://i.pinimg.com/originals/eb/e8/79/ebe8797ec041a8f2c9533246efd048ff.gif" /><br />
                    <font size="10" color='magenta'>Below listed is what you can find! </font><br />
                    <font size="6" color='pink'>
                        1.</font>
                    <a href="http://127.0.0.1:5000/api/v1.0/precipitation" target="_blank">Precipitation</a><br />
                    <font size="6" color='pink'>
                        2.
                    </font>
                    <a href="http://127.0.0.1:5000/api/v1.0/stations" target="_blank">Stations</a><br />
                    <font size="6" color='pink'>
                        3.
                    </font>
                    <a href="http://127.0.0.1:5000/api/v1.0/tobs" target="_blank">Temperatures</a><br />
                    <font size="6" color='pink'>
                        4.
                    </font>
                    <a href="http://127.0.0.1:5000/api/v1.0/dates" target="_blank">Date Range</a><br />
        </p>
        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/ObYRYF3d38Y" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

    </center>
    <audio controls>
        <source src="raining-in-la.mp3" type="audio/mpeg">
        <!-- <embed name="Ocean Sounds" src="raining-in-la.mp3 loop="false" hidden="true" autostart="true"> -->
    </audio>
</body>

</html>